<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Algorithms>
    <item label="Caesar Cipher" data ="CaesarCipher"/>
    <item label="Monoalphabetic" data ="Monoalphabetic"/>
    <item label="Vigenere" data ="Vigenere"/>
    <item label="PlayFair" data ="PlayFair"/>
    <item label="Hill Cipher" data ="CaesarCipher"/>
    <item label="Rail Fence" data ="RailFence"/>
    <item label="Columnar" data ="Columnar"/>
    <item label="DES" data ="DES"/>
    <item label="3-DES" data ="TripleDES"/>
    <item label="AES" data ="AES"/>
    <item label="RC4" data ="RC4"/>
    <item label="RSA" data ="RSA"/>
    <item label="Deffie-Hellman" data ="Deffie-Hellman"/>
    <item label="Elliptic Curve" data ="EllipticCurve"/>
    <item label="Multiplicative Inverse" data ="MultiplicativeInverse"/>
  </Algorithms>
</configuration>